<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>

	<!--新增 connectString -->
  <connectionStrings>
    <add name ="DefaultConnection"
		 connectionString="Server=(localdb)\MSSQLLocalDB;Database=RentSystemTest;Trusted_Connection=True;"
	     providerName="System.Data.SqlClient" />
  </connectionStrings>

	<appSettings>
		<add key="RentApi:BaseUrl" value="http://APSE-IAP093/RentProjectWebAPI/" />
		<add key="RentApi:TimeoutSeconds" value="10" />
	</appSettings>

  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value>System</value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value>True</value>
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
</configuration>
